<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-4">
                <h1 class="title">Editar Funcionário</h1>
                <p class="description">Digite os dados a seguir:</p>
            </div>
        </div>
    </div>
</div>

<%= render 'form' %>
