<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-3">
                <h1 class="title" style="font-size: 2.5rem; font-weight: 700;">Novo Funcionário</h1>
                <p class="description" style="font-size: 1.1rem; margin-bottom: 0rem;">Digite os dados a seguir:</p>
            </div>
        </div>
    </div>
</div>

<%= render 'form' %>
