<!-- app/views/layouts/home.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
